@import "tailwindcss";

@theme {

  --color-primary: #d04e4c;
  --color-primary-50: #fcf4f4;
  --color-primary-100: #fae6e6;
  --color-primary-200: #f6d3d2;
  --color-primary-300: #efb3b2;
  --color-primary-400: #e38786;
  --color-primary-500: #d04e4c;
  --color-primary-600: #c04442;
  --color-primary-700: #a13634;
  --color-primary-800: #862f2e;
  --color-primary-900: #702d2c;
  --color-primary-950: #3c1413;

  --color-secondary: #2a4a60;
  --color-secondary-50: #f4f8fb;
  --color-secondary-100: #e8f0f6;
  --color-secondary-200: #cddeea;
  --color-secondary-300: #a1c3d8;
  --color-secondary-400: #6ea3c2;
  --color-secondary-500: #4c88ab;
  --color-secondary-600: #3a6d8f;
  --color-secondary-700: #305874;
  --color-secondary-800: #2a4a60;
  --color-secondary-900: #284052;
  --color-secondary-950: #1a2a37;

  --font-heading: var(--font-round-key);
  --font-sans: var(--font-outfit), ui-sans-serif, system-ui, sans-serif;

  --animate-marquee: marquee 60s linear infinite;
  --animate-marquee-reverse: marquee-reverse 60s linear infinite;

  @keyframes marquee {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-50%); }
  }

  @keyframes marquee-reverse {
    0% { transform: translateX(-50%); }
    100% { transform: translateX(0%); }
  }
}

@layer base {

  :is(h1, h2, h3, h4, h5, h6) {
    @apply font-heading font-bold;
  }

  button {
    @apply cursor-pointer outline-none focus:outline-none;
  }
}

@layer components {}

@layer utilities {}
